---
	const metadata = {
		title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
		ignoreTitleTemplate: true,
	};
---

<div>
	<div class="flex flex-row justify-center">
		<h1 class="font-extrabold text-8xl line-clamp-1 text-center pb-12 flex flex-row">Hi! My name is Jamon</h1>
	</div>

	<div class="pt-10">
		<p>I'm a passionate developer with expertise in web, mobile, and software development.</p>
		<p>I love turning ideas into reality through clean and efficient code.</p>
	</div>
</div>

<style>

    h1 {
		color: transparent;
		background: linear-gradient( 90deg, rgba(255, 0, 200, 1) 0%, rgba(160, 0, 255, 1) 30%, rgba(50, 0, 255, 1) 100%);
		display: inline-block;
		background-clip: text;
	}

	img {
		display: flex;
		flex-direction: column;
	}

    p {
		font-size: 1.5em;
		color: #555;
    }

</style>