---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Jamon Jordan Blog">
    <main class="flex flex-col m-auto">
        <section class="banner">
            <h1>Blog!</h1>
        </section>
    </main>
</Layout>

<style>
    .banner {
        text-align: center;
    }
    h1 {
        font-size: 2rem;
    }
</style>