---
import Layout from "../layouts/main-layout.astro";
---

<Layout title="Jamon Jordan Contact Me">
    <main class="flex flex-col m-auto">
        <section class="banner">
            <h1>Contact Me!</h1>
        </section>
    </main>
</Layout>

<style>
    h1 {
        text-align: center;
        font-size: 2rem;
    }
</style>
