---
import Banner from "../components/Banner.astro";
import SkillTabs from "../components/Skills.astro";
import Layout from "../layouts/main-layout.astro";
---

<script>
	
	import Lenis from '@studio-freight/lenis'

	import { gsap } from "gsap";
    
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	const lenis = new Lenis()

	gsap.registerPlugin(ScrollTrigger);
	lenis.on('scroll', ScrollTrigger.update)
	gsap.ticker.add((time)=>{
		lenis.raf(time * 1000)
	})
	gsap.ticker.lagSmoothing(0)

</script>

<Layout title="Jamon Jordan Portfolio & Blog | Landing Page">
	<main>
		<section class="pt-32">
			<Banner />
		</section>

		<section class="pt-32">
			<div class="skills-curve">
				<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
					<path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
					<path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
					<path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
				</svg>
			</div>
		</section>

		<section class="pt-1">
			<SkillTabs />
		</section>

		<section class="pt-12 space-y-4 text-gray-800 font-bold text-2xl">
			<div class="py-4">
				<h2 class="">Recent Projects</h2>
				<p>Explore some of my latest work:</p>
				<a href="/projects" class="btn-primary"> View Projects</a>
			</div>
		</section>

		<section id="pt-24">
			<div class="py-4">
				<h2 class="h2">Contact Me</h2>
				<p>Let's discuss your project or have a chat!</p>
				<a href="/contact" class="btn-primary"> Get in Touch</a>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		display: absolute;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		color: transparent;
		background: linear-gradient( 90deg, rgba(255, 0, 200, 1) 0%, rgba(160, 0, 255, 1) 30%, rgba(50, 0, 255, 1) 100%);
		display: inline-block;
		background-clip: text;
		padding: 2rem;
	}

	.h2 {
		font-size: 2em;
		margin-bottom: 20px;
		text-align: center;
	}

	.h3 {
		font-weight: 300;
		line-height: 1;
		text-align: center;
		padding: 2rem;
	}

	.h3.skills {
		color: #ffffff;
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;
		text-align: center;
	}

	p {
		font-size: 1.2em;
		color: #555;
	}

	section {
		color: #fff;
		text-align: center;
	}

	.skill-tabs {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(160, 0, 255); /* Purple color behind tabs */
		border-radius: 10px;
		overflow: hidden;
		margin-top: 40px;
	}

	.tab {
		flex: 1;
		text-align: center;
		padding: 30px;
		transition:
		background-color 0.3s ease-in-out,
		color 0.3s ease-in-out;
		cursor: pointer;
	}

	.tab h3 {
		font-size: 1.5em;
		margin-bottom: 10px;
	}

	.tab p {
		font-size: 1.2em;
		color: #fff;
	}

	.tab:not(:last-child) {
		border-right: 2px solid #a1a1a1;
	}

	.tab.web {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.tab.mobile {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.tagline {
		font-size: 1.5em;
	}

	a {
		display: inline-block;
		padding: 10px 20px;
		text-decoration: none;
		border-radius: 5px;
		font-weight: bold;
	}

	a:hover {
		background-color: #2980b9;
	}

	.btn-primary,
	.btn-secondary {
		display: inline-block;
		padding: 15px 30px;
		text-decoration: none;
		color: #fff;
		border-radius: 5px;
		font-weight: bold;
		transition: background-color 0.3s ease-in-out;
	}

	.btn-primary {
		background-color: rgb(160, 0, 255);
	}

	.btn-primary:hover,
	.btn-secondary:hover {
		background-color: rgb(160, 0, 255);
	}

	.skills-curve {
		position: absolute;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: translateY(-2px) rotate(180deg);

	}

	.skills-curve svg {
		position: relative;
		display: flex;
		width: calc(100% + 1.3px);
		height: 64px;
	}

	.skills-curve .shape-fill {
		fill: rgb(160, 0, 255);
	}
</style>
