<script>

</script>

<section class="banner ">
    <h1>Hi! My name is Jamon</h1>
    <section id="about">
        <p>I'm a passionate developer with expertise in web, mobile, and software development.</p>
        <p>I love turning ideas into reality through clean and efficient code.</p>
    </section>
</section>

<style>
    .banner {
		text-align: center;
		padding: 4rem;
	}

    h1 {
		font-size: 6em;
		font-weight: 800;
		line-height: 1;
		text-align: center;
		color: transparent;
		background: linear-gradient( 90deg, rgba(255, 0, 200, 1) 0%, rgba(160, 0, 255, 1) 30%, rgba(50, 0, 255, 1) 100%);
		display: inline-block;
		background-clip: text;
		padding-top: 1em;
		padding-bottom: 1.5em;
	}

	img {
		display: flex;
		flex-direction: column;
	}

    p {
		font-size: 1.5em;
		color: #555;
    }


</style>