<footer>
    <div class="container">
      <p>&copy; 2023 Jamon Jordan. All Rights Reserved.</p>
      <div class="social-links">
        <a href="https://github.com/joriman" target="_blank" rel="noopener noreferrer">
          <img src="/github-icon.png" alt="GitHub"/>
        </a>
        {/* Add more social media links as needed */}
      </div>
    </div>
  </footer>

<style>
  footer {
    display: flex;
    background-color: rgb(160, 0, 255);
    color: #fff;
    padding: 60px 0;
    margin-top: 40px;
    text-align: center;
    width: 100%;
  }

  footer p {
    font-size: 1rem;
    padding: 20px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .social-links {
    margin-top: 10px;
  }

  .social-links a {
    display: inline-block;
    margin: 0;
  }

  .social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }

  .social-links img:hover {
    transform: scale(1.2);
  }
</style>