---
  import JJLogo from './jamon_logo.svg?url';
---

<header class="header">
    <nav class="flex">
        <div>
            <a href="/">
                <img src={JJLogo} />
            </a>
        </div>
        <div class="page-nav">
            <a class="button-nav" href="/about">
                <h2>About</h2>
            </a>
            <a class="button-nav" href="/blog">
                <h2>Blog</h2>
            </a>
            <a class="button-nav" href="/contact">
                <h2>Contact</h2>
            </a>
        </div>
    </nav>
</header>

<style>
  .header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
  }
  .page-nav {
    display: flex;
    flex-direction: row;
  }
  .button-nav {
    padding-left: 1rem;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  h2 {
    color: rgb(160, 0, 255);
    font-size: x-large;
    font-weight: normal;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  h2:hover {
    color: rgb(200, 70, 255);
  }
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
</style>
