<section class="flex justify-center items-center w-full mt-14 bg-[#a000ff]">
    <div class="w-full">
        <h2 class="text-center justify-center py-16 text-4xl font-bold">My Skills</h2>
        <div class="flex flex-row pt-6 pb-24 px-4 justify-center space-x-4">
            <div class="w-full max-w-sm p-4 bg-gray-200 border border-gray-600 rounded-lg shadow sm:p-6 dark:bg-gray-800">
                <h5 class="mb-3 text-base font-semibold text-gray-800 md:text-xl">
                    Web Application Development
                </h5>
                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">A few of the frameworks I've worked with.</p>
                <ul class="my-4 space-y-3">
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-800 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-gray-400">
                            <span class="flex-1 ms-3 whitespace-nowrap">HTML, CSS, Sass</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <span class="flex-1 ms-3 whitespace-nowrap">Javascript</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <span class="flex-1 ms-3 whitespace-nowrap">React, Next.js</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <span class="flex-1 ms-3 whitespace-nowrap">Svelte</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="w-full max-w-sm p-4 bg-gray-200 border border-gray-600 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
                <h5 class="mb-3 text-base font-semibold text-gray-800 md:text-xl">
                    Software Development
                </h5>
                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Coding for desktop.</p>
                <ul class="my-4 space-y-3">
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-800 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-gray-400">
                            <span class="flex-1 ms-3 whitespace-nowrap">.NET</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <span class="flex-1 ms-3 whitespace-nowrap">Java</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <span class="flex-1 ms-3 whitespace-nowrap">Python</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <span class="flex-1 ms-3 whitespace-nowrap">C#</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="w-full max-w-sm p-4 bg-gray-200 border border-gray-600 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
                <h5 class="mb-3 text-base font-semibold text-gray-800 md:text-xl">
                    Mobile Development
                </h5>
                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Where I've focused my mobile dev.</p>
                <ul class="my-4 space-y-3">
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <span class="flex-1 ms-3 whitespace-nowrap">React-Native</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <span class="flex-1 ms-3 whitespace-nowrap">Kotlin</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-3 text-base font-bold text-gray-800 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-gray-400">
                            <span class="flex-1 ms-3 whitespace-nowrap">Swift</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<style>
    .card {
        max-width: 24rem;
        border-radius: 0.25rem;
        overflow: hidden;
    }
</style>