---
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Header from "../components/navbar/navbar.astro";
import Footer from "../components/footer/footer.astro";

interface Props {
    title?: string | undefined;
    description?: string | undefined;
}

const { title, description } = Astro.props;

const makeTitle = title
  ? title + " | " + "Astroship"
  : "Astroship - Starter Template for Astro with Tailwind CSS";

---

<!doctype html>
<html lang="en">
    <head>
        <SEO
        title={makeTitle}
        description="This is a portfolio website built to showcase the skills and projects of Jamon Jordan."
      />
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Jamon Jordan portfolio website and blog"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <ViewTransitions />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
    <style is:global>
        :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
        }
        html {
            font-family: system-ui, sans-serif;
            scrollbar-width: thin;
        }
        body {
            align-items: center;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
        }
        code {
            font-family:
                Menlo,
                Monaco,
                Lucida Console,
                Liberation Mono,
                DejaVu Sans Mono,
                Bitstream Vera Sans Mono,
                Courier New,
                monospace;
        }
    </style>
</html>
